# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv11/
ENV/
*.egg-info/

# Environment
.env
.env.local

# Database
*.db
*.sqlite

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Build
build/
dist/
